In [103]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Task 1: Identify the Titanic dataset from the Seaborn library.
df = sns.load_dataset("titanic")

# Task 2: Find the number of male and female passengers in the Titanic dataset.
print(df["sex"].value_counts())

male      577
female    314
Name: sex, dtype: int64

In [104]:
# Task 3: Find the number of unique values for each column.
print(df.nunique())

survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

In [105]:
# Task 4: Find the number of unique values of the variable pclass.
print(df["pclass"].nunique())

3

In [106]:
# Task 5: Find the number of unique values of pclass and parch variables.
print(df[["pclass", "parch"]].nunique())

pclass    3
parch     7
dtype: int64

In [107]:
# Task 6: Check the type of the embarked variable. Change its type to category and check again.
print(df["embarked"].dtypes)
df["embarked"] = df["embarked"].astype("category")
print(df["embarked"].dtypes)

object
category

In [108]:
# Task 7: Show all the sages of those with embarked value C.
df[df["embarked"]=="C"]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,1,2,female,27.0,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [109]:
# Task 8: Show all the sages of those whose embarked value is not S.
df[df["embarked"]!="S"]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [110]:
# Task 9: Show all information for female passengers younger than 30 years old.
df[(df["sex"]=="female") & (df["age"] < 30)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True

In [111]:
# Task 10: Show the information of passengers whose Fare is over 500 or 70 years old.
df[(df["fare"] > 500) | (df["age"] > 70)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
116,0,3,male,70.5,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
493,0,1,male,71.0,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
630,1,1,male,80.0,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
851,0,3,male,74.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True

In [112]:
# Task 11: Find the sum of the null values in each variable.
df.isnull().sum()
df.isna().sum()

df.isnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [113]:
# Task 12: Extract the variable who from the dataframe.
df.drop("who", axis=1, inplace=True)

In [21]:
# Task 13: Fill the empty values in the deck variable with the most repeated value (mode) of the deck variable.
df["deck"] = df["deck"].fillna(df["deck"].mode()[0], inplace=True)
df["deck"]

0      C
1      C
2      C
3      C
4      C
      ..
886    C
887    B
888    C
889    C
890    C
Name: deck, Length: 891, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [26]:
# Task 14: Fill in the blank values in the age variable with the median of the age variable.
df["age"] = df["age"].fillna(df["age"].median())
df["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [65]:
# Task 15: Find the sum, count, mean values of the pclass and gender variables of the survived variable.
df.groupby(["pclass", "sex"]).agg({"survived": ["sum", "count", "mean"]})

              survived
                   sum count      mean
pclass sex
1      female       91    94  0.968085
       male         45   122  0.368852
2      female       70    76  0.921053
       male         17   108  0.157407
3      female       72   144  0.500000
       male         47   347  0.135447

In [58]:
# Task 16: Write a function that returns 1 for those under 30 and 0 for those above or equal to 30.
# Using the function you wrote, create a variable named age_flag in the titanic data set. (use apply and lambda constructs)
df["age_flag"] = df["age"].apply(lambda x: 1 if x < 30 else 0)
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_flag
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,C,Southampton,no,False,1
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,C,Southampton,yes,True,1
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,C,Southampton,no,True,0

In [69]:
# Task 17: Define the Tips dataset from the Seaborn library.
tips = sns.load_dataset("tips")
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [72]:
# Task 18: Find the sum, min, max and average of the total_bill values according to the categories (Dinner, Lunch) of the Time variable.
tips.groupby("time").agg({"total_bill": ["sum","min", "max", "mean"]})

       total_bill
              sum   min    max       mean
time
Lunch     1167.47  7.51  43.11  17.168676
Dinner    3660.30  3.07  50.81  20.797159

In [73]:
# Task 19: Find the sum, min, max and average of total_bill values by days and time.
tips.groupby(["day","time"]).agg({"total_bill": ["sum","min", "max", "mean"]})

            total_bill
                   sum    min    max       mean
day  time
Thur Lunch     1077.55   7.51  43.11  17.664754
     Dinner      18.78  18.78  18.78  18.780000
Fri  Lunch       89.92   8.58  16.27  12.845714
     Dinner     235.96   5.75  40.17  19.663333
Sat  Lunch        0.00    NaN    NaN        NaN
     Dinner    1778.40   3.07  50.81  20.441379
Sun  Lunch        0.00    NaN    NaN        NaN
     Dinner    1627.16   7.25  48.17  21.410000

In [79]:
# Task 20: Find the sum, min, max and average of the total_bill and type values of the lunch time and female customers according to day.
filtered = tips[(tips["time"]=="Lunch") & (tips["sex"]=="Female")]
filtered.groupby("day").agg({"total_bill": ["sum", "min", "max", "mean"],
                             "tip": ["sum", "min", "max", "mean"]})

     total_bill                            tip
            sum    min    max      mean    sum   min   max      mean
day
Thur     516.11   8.35  43.11  16.64871  79.42  1.25  5.17  2.561935
Fri       55.76  10.09  16.27  13.94000  10.98  2.00  3.48  2.745000
Sat        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN
Sun        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN

In [89]:
# Task 21: What is the average of orders with size less than 3 and total_bill greater than 10? (use loc)
filtered2 = tips.loc[(tips['size'] < 3) & (tips['total_bill'] > 10)]
filtered2["total_bill"].mean()

17.184965034965035

In [91]:
# Task 22: Create a new variable called total_bill_tip_sum. Let it give the sum of the total bill and tip paid by each customer.
tips["total_bill_tip_sum"] = tips['total_bill'] + tips['tip']
tips

     total_bill   tip     sex smoker   day    time  size  total_bill_tip_sum
0         16.99  1.01  Female     No   Sun  Dinner     2               18.00
1         10.34  1.66    Male     No   Sun  Dinner     3               12.00
2         21.01  3.50    Male     No   Sun  Dinner     3               24.51
3         23.68  3.31    Male     No   Sun  Dinner     2               26.99
4         24.59  3.61  Female     No   Sun  Dinner     4               28.20
..          ...   ...     ...    ...   ...     ...   ...                 ...
239       29.03  5.92    Male     No   Sat  Dinner     3               34.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2               29.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2               24.67
242       17.82  1.75    Male     No   Sat  Dinner     2               19.57
243       18.78  3.00  Female     No  Thur  Dinner     2               21.78

[244 rows x 8 columns]

In [114]:
# Task 23: Sort according to the total_bill_tip_sum variable from largest to smallest and assign the first 30 people to a new dataframe.
sorted_tips = tips.sort_values("total_bill_tip_sum", ascending=False)
df_top30 = sorted_tips.head(30)
df_top30

     total_bill    tip     sex smoker   day    time  size  total_bill_tip_sum
170       50.81  10.00    Male    Yes   Sat  Dinner     3               60.81
212       48.33   9.00    Male     No   Sat  Dinner     4               57.33
59        48.27   6.73    Male     No   Sat  Dinner     4               55.00
156       48.17   5.00    Male     No   Sun  Dinner     6               53.17
182       45.35   3.50    Male    Yes   Sun  Dinner     3               48.85
197       43.11   5.00  Female    Yes  Thur   Lunch     4               48.11
23        39.42   7.58    Male     No   Sat  Dinner     4               47.00
102       44.30   2.50  Female    Yes   Sat  Dinner     3               46.80
142       41.19   5.00    Male     No  Thur   Lunch     5               46.19
95        40.17   4.73    Male    Yes   Fri  Dinner     4               44.90
184       40.55   3.00    Male    Yes   Sun  Dinner     2               43.55
112       38.07   4.00    Male     No   Sun  Dinner     3               42.07
207       38.73   3.00    Male    Yes   Sat  Dinner     4               41.73
56        38.01   3.00    Male    Yes   Sat  Dinner     4               41.01
141       34.30   6.70    Male     No  Thur   Lunch     6               41.00
238       35.83   4.67  Female     No   Sat  Dinner     3               40.50
11        35.26   5.00  Female     No   Sun  Dinner     4               40.26
52        34.81   5.20  Female     No   Sun  Dinner     4               40.01
85        34.83   5.17  Female     No  Thur   Lunch     4               40.00
47        32.40   6.00    Male     No   Sun  Dinner     4               38.40
180       34.65   3.68    Male    Yes   Sun  Dinner     4               38.33
179       34.63   3.55    Male    Yes   Sun  Dinner     2               38.18
83        32.68   5.00    Male    Yes  Thur   Lunch     2               37.68
39        31.27   5.00    Male     No   Sat  Dinner     3               36.27
167       31.71   4.50    Male     No   Sun  Dinner     4               36.21
175       32.90   3.11    Male    Yes   Sun  Dinner     2               36.01
44        30.40   5.60    Male     No   Sun  Dinner     4               36.00
173       31.85   3.18    Male    Yes   Sun  Dinner     2               35.03
116       29.93   5.07    Male     No   Sun  Dinner     4               35.00
155       29.85   5.14  Female     No   Sun  Dinner     5               34.99